<div class="container">
    <div *ngFor="let book of books" class="row" style="border-radius: 25px; border: 2px solid #b3b2e4; margin-bottom:5px">
        <div class="col-md-4 placeholder">
            <img src={{book.thumbnail}} width="100" height="100" class="img-fluid" alt="Generic placeholder thumbnail">							
            <div class="text-muted">{{book.authors}}, {{book.title}}</div>
        </div>
        <div class="col-md-8">
             <input data-role="tagsinput" type='text' autocomplete='off' placeholder='теги' name='tags' value={{book.Word}}>
             <tag-input [(ngModel)]='keyWords' [editable]='true' (onTagEdited)="onTagEdited($event)"></tag-input>
        </div>
    </div>
</div>