<div class="row book-container">
    <div class="col-md-3">
        <img src={{bookDetails.image}} width="100%"  alt="Обложка книги"> 
        <div class="center">
            <button class="btn btn-success center" style="margin-top:5px; margin-left: 15px;">
            ДОБАВИТЬ
        </button>
        </div>
        <div style="margin-top:20px">
            Купить:
            <a href={{bookDetails.link}}>{{bookDetails.link}}</a>
        </div>
         
    </div>
    <div class="col-md-8">
        <div class="form-group row">                    
            <span class="book-title">
                   {{bookDetails.name}}
            </span>
        </div>
        <div class="info-block">
            <div class="info-row">            
                    <label>Автор(-ы): </label> <i class="detail"> {{ bookDetails.author}}</i>            
            </div>
            <div class="info-row">            
                    <label>Год издания: </label> <span class="detail"> {{ bookDetails.publishedYear}}</span>            
            </div>
            <div class="info-row">
                <label>Рейтинг (Ваш / пользователей):</label>
                <!-- <span class="detail glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span> -->
                <img src="https://s.livelib.ru/img/skins/ll2015b/star-l-empty.png"><img src="https://s.livelib.ru/img/skins/ll2015b/star-l-empty.png"><img src="https://s.livelib.ru/img/skins/ll2015b/star-l-empty.png"><img src="https://s.livelib.ru/img/skins/ll2015b/star-l-empty.png"><img src="https://s.livelib.ru/img/skins/ll2015b/star-l-empty.png"> / <img src="https://s.livelib.ru/img/skins/ll2015b/star-l-empty.png"><img src="https://s.livelib.ru/img/skins/ll2015b/star-l-empty.png"><img src="https://s.livelib.ru/img/skins/ll2015b/star-l-empty.png"><img src="https://s.livelib.ru/img/skins/ll2015b/star-l-empty.png"><img src="https://s.livelib.ru/img/skins/ll2015b/star-l-empty.png">
                </div>

            <div class="info-row">
                <textarea autosize class="form-control" disabled>
                    {{bookDetails.description}}
                </textarea>           
            </div>
            <div class="info-row">
                <label>Ключевые слова:</label>
                <div class="col-md-9">

                </div>
            </div>
        </div> 
    </div>
</div>