.book-container {
    margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%; 
}
.info-row{
    padding: 5px;
    /* border:1px solid #ced4da;
    border-radius: .30rem; */
    margin-bottom: 0.5rem;
}
.info-block{
    background-color:rgba(212, 228, 245, 0.4);
    border:1px solid #ced4da;
    border-radius: .30rem; 
}
.book-title{
    font-weight: bold;
    font-size: 1.5rem;
}
.detail{
    margin-left: 5px;
}
div.center{
    margin: auto;
    width: 50%;
} 

.status-item{
    cursor: pointer;
}