.book-container {
    margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%; 
}
.info-row{
    padding: 5px;
    /* border:1px solid #ced4da;
    border-radius: .30rem; */
    margin-bottom: 0.5rem;
}
.info-block{
    background-color:rgba(212, 228, 245, 0.4);
    border:1px solid #ced4da;
    border-radius: .30rem; 
}
.book-title{
    font-weight: bold;
    font-size: 1.5rem;
}
.detail{
    margin-left: 5px;
}
div.center{
    margin: auto;
    width: 50%;
} 

.status-item{
    cursor: pointer;
}

.status-item-checked{
    border:2px solid rgb(12, 110, 96);
}
.btn-w-status{
    background-color: rgb(12, 110, 96);
    border:2px solid rgb(57, 136, 124);
}

.user-rate {
    cursor: pointer;
    padding-bottom: 3px;
    display: inline-flex;
    background-image: url(https://s.livelib.ru/img/skins/ll2015b/star-l-empty.png);
    width: 20px;
    height: 20px;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.user-rate:hover {
    background-image: url(https://s.livelib.ru/img/skins/ll2015b/star-l-orange.png);
  }

.avg-rate{
    background-image: url(https://s.livelib.ru/img/skins/ll2015b/star-l-empty.png);
    padding-bottom: 3px;
    display: inline-flex;
    width: 20px;
    height: 20px;
}

.star-full { 
    background-image: url(https://s.livelib.ru/img/skins/ll2015b/star-l-orange.png);
}