<div class="row book-container">
    <div class="col-md-3">
        <!-- <img src={{bookDetails.thumbnail}} width="100%"  alt="Обложка книги">  -->
        <img *ngIf="bookDetails.thumbnail" src={{bookDetails.thumbnail}}  width="100%" alt="Обложка книги">
        <img *ngIf="!bookDetails.thumbnail"  src="../../asserts/empty-book.png"  width="100%" alt="Обложка книги">

        <div class="center">
            <div class="btn-group">
                <button type="button"  class="{{bookDetails.status ? 'btn btn-success btn-w-status center dropdown-toggle' : 'btn btn-success center dropdown-toggle'}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:5px;">
                   <span>{{bookDetails.status ? bookDetails.status : 'ДОБАВИТЬ'}}</span>
                </button>
                <div class="dropdown-menu">
                  <div class="{{(bookDetails.status=='Хочу прочесть') ? 'dropdown-item status-item status-item-checked' : 'dropdown-item status-item'}}" 
                  (click)="AddBook(bookDetails,'Хочу прочесть')">Хочу прочесть</div>
                  <div class="{{(bookDetails.status=='Читаю') ? 'dropdown-item status-item status-item-checked' : 'dropdown-item status-item'}}" 
                  (click)="AddBook(bookDetails,'Читаю')">Читаю</div>
                  <div class="{{(bookDetails.status=='Прочитана') ? 'dropdown-item status-item status-item-checked' : 'dropdown-item status-item'}}" 
                  (click)="AddBook(bookDetails,'Прочитана')">Прочитана</div>
                  <div class="{{(bookDetails.status=='Заброшена') ? 'dropdown-item status-item status-item-checked' : 'dropdown-item status-item'}}" 
                  (click)="AddBook(bookDetails,'Заброшена')">Заброшена</div>
                </div>
              </div>
        </div>
        <div class="info-row" style="margin-top:20px">
            Купить:
        </div>
        <div class="info-row">
            <a href={{bookDetails.link}}>{{bookDetails.link}}</a>
        </div>
         
    </div>
    <div class="col-md-8">
        <div class="form-group row">                    
            <span class="book-title">
                   {{bookDetails.title}}
            </span>
        </div>
        <div class="info-block">
            <div class="info-row">            
                    <label>Автор(-ы): </label> <i class="detail"> {{ bookDetails.authors}}</i>            
            </div>
            <div class="info-row">            
                    <label>Год издания: </label> <span class="detail"> {{ bookDetails.publishedDate}}</span>            
            </div>
            <div class="info-row">
                <label>Рейтинг (Ваш / пользователей):</label>
                <div id="1" title="Хочется развидеть" class="user-rate" (mouseenter) ="changeUserRateImage(1) "  (mouseleave) ="changeUserRateImage(1)" (click)="AddRate(1)"></div>
                <div id="2" title="Не огонь" class="user-rate" (mouseenter) ="changeUserRateImage(2) "  (mouseleave) ="changeUserRateImage(2)" (click)="AddRate(2)"></div>
                <div id="3" title="На безрыбье и рак рыба" class="user-rate" (mouseenter) ="changeUserRateImage(3) "  (mouseleave) ="changeUserRateImage(3)" (click)="AddRate(3)"></div>
                <div id="4" title="Норм" class="user-rate" (mouseenter) ="changeUserRateImage(4) "  (mouseleave) ="changeUserRateImage(4)" (click)="AddRate(4)"></div>
                <div id="5" title="Огонь" class="user-rate" (mouseenter) ="changeUserRateImage(5) "  (mouseleave) ="changeUserRateImage(5)" (click)="AddRate(5)"></div>
                
                / 
                <div id="1" class="avg-rate"></div>
                <div id="2" class="avg-rate"></div>
                <div id="3" class="avg-rate"></div>
                <div id="4" class="avg-rate"></div>
                <div id="5" class="avg-rate"></div>   {{avgRating}}           
            </div>

            <div class="info-row">
                <textarea autosize class="form-control" disabled>
                    {{bookDetails.description}}
                </textarea>           
            </div>
            <div class="info-row">
                <label>Ключевые слова:</label>
                <div class="col-md-9">

                </div>
            </div>
        </div> 
    </div>
</div>