<!-- <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>  -->
<div class="row">
    <div class="col-md-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            
            <div class="text-muted">Обложка книги</div>
    </div>
    <div class="col-md-8">
        <div class="form-group row">
            <div class="col-md-3">
                <label>Название</label>
            </div>
            <div class="col-md-9">
                <input type="text" value="Эффект Марко" class="form-control" disabled/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label>Автор(-ы)</label>
            </div>
            <div class="col-md-9">
                <input type="text" value="Юсси Адлер-Ольсен" class="form-control" disabled/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label>Год издания</label>
            </div>
            <div class="col-md-9">
                <input type="text" value="2017" class="form-control" disabled/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label>Аннотация</label>
            </div>
            <div class="col-md-9">
            <textarea autosize class="form-control" disabled>
                {{bookDetails.description}}
            </textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label>Можно купить</label>
            </div>
            <div class="col-md-9">
                <a href="http://www.ozon.ru/context/detail/id/141916644/?partner=livelibru&utm_source=livelibru&utm_medium=partner">Ozon</a>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label>Рейтинг (Ваш / пользователей)</label>
            </div>
            <div class="col-md-9">
                <span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label>Ключевые слова</label>
            </div>
            <div class="col-md-9">
            </div>
        </div>
    </div>
</div>