extends layout

block content
  h1=title
  p Welcome to #{title}
  input(id='search')
  button(id='search-btn' type='button') Seach
  div(id='book-container' class='book-container')

  script(src='/javascripts/main.js')