extends layout

block content
  h1=title
  p Welcome to #{title}
  div(class='books-view')
    div
      input(id='search')
      button(id='search-btn' type='button' style='position: relative') Seach
    div(id='book-container' class='book-container')

  script(src='/javascripts/main.js')