<div id='book-container' class="book-container">
	<div *ngFor="let book of books; let i = index;" class="book-item">
		<div class=book-image-container>
			<a routerLink="/bookDetails" routerLinkActive="active">
				<img *ngIf="book.thumbnail" class="book-image" src={{book.thumbnail}} (click)="this._SendDataService.setData(book);SharedData=book.Title;">
				<img *ngIf="!book.thumbnail" class="book-image" src={{book.thumbnail}} (click)="this._SendDataService.setData(book);SharedData=book.Title;">
			</a>
			<button (click)="AddBook(book)">favourite</button>
		</div>
		<span class= "book-title" title="{{book.title}}">
			{{book.title}}
		</span>
	</div>
</div>